<div class="container-fluid">
    <div class="row">
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        {% if session.role == "Admin" %}
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dashboard">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admbaptisbayi">
              <span data-feather="file"></span>
              Baptis Bayi
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admbaptisdewasa">
              <span data-feather="shopping-cart"></span>
              Baptis Dewasa
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admperkawinan">
              <span data-feather="users"></span>
              Perkawinan
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/suplier">
              <span data-feather="bar-chart-2"></span>
              Ibadat
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admmisa">
              <span data-feather="user"></span>
              Misa
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kelola_user">
                  <span data-feather="user"></span>
                  Komuni Pertama
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kelola_user">
                  <span data-feather="user"></span>
                  Pengantar Lingkunagan
                </a>
            </li>
         <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Pendaftaran</span>
                  <span data-feather="plus-circle"></span>
                </a>
              </h6>
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="/kelola_user">
                    <span data-feather="file-text"></span>
                    Pendaftaran User
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/kelola_kk">
                    <span data-feather="file-text"></span>
                    Pendaftaran KK
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/kelola_umat">
                    <span data-feather="file-text"></span>
                    Pendaftaran Umat
                  </a>
                </li>
              </ul>
              {% elif session.role == "Umat" %}
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/dashboard">
                    <span data-feather="home"></span>
                    Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/baptisbayi">
                    <span data-feather="file"></span>
                    Baptis Bayi
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/baptisdewasa">
                    <span data-feather="shopping-cart"></span>
                    Baptis Dewasa
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/perkawinan">
                    <span data-feather="users"></span>
                    Perkawinan
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/suplier">
                    <span data-feather="bar-chart-2"></span>
                    Ibadat
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/misa">
                    <span data-feather="user"></span>
                    Misa
                  </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/kelola_user">
                        <span data-feather="user"></span>
                        Komuni Pertama
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/kelola_user">
                        <span data-feather="user"></span>
                        Pengantar Lingkunagan
                      </a>
                  </li>
                    </ul>
                    {% endif %}
      </div>
    </nav>