{% extends 'index.html' %}

{% block title %}Admin Misa{% endblock %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Kelola Pendaftaran Misa</h1>   
    </div>
    <a href="/lihatmisa" class="btn btn-primary btn-sm">Lihat Pendaftaran</a>
    <br><br>
    <div class="container">
        <div class="card">
            <h5 class="card-header">Menunggu Konfirmasi</h5>
            <div class="card-body">
                <table class="table table-bordered table-sm" id="myTable">
                    <thead class="table table-dark">
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Intensi</th>
                        <th scope="col">Hari/Tanggal</th>
                        <th scope="col">Jam</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for dt in data %}
                      <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{dt.user.nama}}</td>
                        <td>{{dt.intensi}}</td>
                        <td>{{dt.hari_tgl}}</td>
                        <td>{{dt.jam}}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1{{dt.id}}" data-bs-whatever="@mdo"><b>+</b></button>
                            <div class="modal fade" id="exampleModal1{{dt.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/konfmisa/{{dt.id}}" method="POST" class="row g-3 needs-validation">
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Intensi</label>
                                                <textarea class="form-control" id="message-text" name="intensi" readonly>{{dt.intensi}}</textarea>
                                            </div>
                                            <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="namabaptis" class="form-label">Hari/Tanggal :</label>
                                                <input type="text" class="form-control" id="exampleInputPassword1" name="hari_tgl" value="{{dt.hari_tgl}}" readonly>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="namabaptis" class="form-label">Pukul :</label>
                                                <input type="text" class="form-control" id="exampleInputPassword1" name="jam" value="{{dt.jam}}" readonly>
                                            </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Alamat</label>
                                                <textarea class="form-control" id="message-text" name="alamat" readonly>{{dt.alamat}}</textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="namabaptis" class="form-label">Nomor Telepon :</label>
                                                <input type="text" class="form-control" id="exampleInputPassword1" name="telepon" value="{{dt.telepon}}" readonly>
                                            </div>
                                            <div class="mb-3">
                                                <label for="namabaptis" class="form-label">Lingkungan Pemohon :</label>
                                                <input type="text" class="form-control" id="exampleInputPassword1" name="lingkungan" value="{{dt.lingkungan}}" readonly>
                                            </div>
                                            <div class="mb-3">
                                                <label for="namabaptis" class="form-label">Wilayah Pemohon :</label>
                                                <input type="text" class="form-control" id="exampleInputPassword1" name="wilayah" value="{{dt.wilayah}}" readonly>
                                            </div>
                                          <input type="hidden" name="user_id" value="{{dt.user_id}}">
                                            <div class="mb-3">
                                              <label for="validationCustom04" class="form-label">Keterangan</label>
                                              <select class="form-select" id="validationCustom04" name="keterangan" required>
                                                <option selected disabled value=""></option>
                                                <option value="Ditolak">Ditolak</option>
                                                <option value="Diterima">Diterima</option>
                                              </select>
                                            </div>
                                            <!-- <input type="hidden" name="user_id" value="{{session.id}}"> -->
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Konfirmasi</button>
                                    </div>
                                    </form>
                                </div>
                                    </div>
                                </div>
                                </div>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
  </main>

{% block tail %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelector("#tbDaftar").onsubmit = async (e) => {
            e.preventDefault();
            const req = new XMLHttpRequest();
            req.onload = () => {
                const data = JSON.parse(req.responseText);
                if(data.success) {
                    alert("Data berhasil ditambahkan!")
                    location.reload();
                } else {
                    alert("Ada masalah");
                }
            }
            const form = document.querySelector("#tbDaftar");
            const datanya = new FormData(form);
            await req.open("POST", "/tambahdaftar", true);
            req.send(datanya);
        }
    });
</script>
{% endblock %}
{% endblock %}