{% extends 'index.html' %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Kelola Pendaftaran Vaksin</h1>   
    </div>

    <div class="container">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Tambah Pendaftaran</button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pendaftaran Baru</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation" action="{{url_for('tambah_vaksin')}}" id="#tbVaksin" method="POST">
                    <div class="col-mb-3">
                      <label for="validationCustom01" class="form-label">Instansi</label>
                      <input type="text" class="form-control" id="validationCustom01" name="instansi" required>
                    </div>
                    <div class="col-mb-3">
                      <label for="validationCustom02" class="form-label">Jenis</label>
                      <input type="text" class="form-control" id="validationCustom02" name="jenis" required>
                    </div>
                    <div class="col-mb-3">
                        <label for="validationCustom02" class="form-label">Tanggal</label>
                        <input type="date" class="form-control" id="validationCustom02" name="tanggal" required>
                      </div>
                      <div class="mb-3">
                        <label for="message-text" class="col-form-label">Alamat</label>
                        <textarea class="form-control" id="message-text" name="alamat" required></textarea>
                    </div>
                    <div class="col-mb-3">
                        <label for="validationCustom02" class="form-label">Link Pendaftaran</label>
                        <input type="text" class="form-control" id="validationCustom02" name="link" required>
                      </div>
                    <!-- <input type="hidden" name="keterangan" value="Diproses"> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Tambah</button>
            </div>
            </form>
            </div>
        </div>
        </div>
        <br><br>
        <div class="card">
            <h5 class="card-header">Table Kartu Keluarga</h5>
            <div class="card-body">
                <table class="table table-bordered table-sm" id="myTable">
                    <thead class="table table-dark">
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Instansi</th>
                        <th scope="col">Jenis Vaksin</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for dt in data %}
                      <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{dt.instansi}}</td>
                        <td>{{dt.jenis}}</td>
                        <td>{{dt.tanggal}}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1{{dt.id}}" data-bs-whatever="@mdo"><b>+</b></button>
                            <div class="modal fade" id="exampleModal1{{dt.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit Kartu Keluarga</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="row g-3 needs-validation" action="/edit_kk/{{dt.no_kk}}" id="editKK" method="POST">
                                            <div class="col-mb-3">
                                              <label for="validationCustom01" class="form-label">No Kartu Keluarga</label>
                                              <input type="text" class="form-control" id="validationCustom01" name="no_kk" value="{{dt.no_kk}}" required>
                                            </div>
                                            <div class="col-mb-3">
                                              <label for="validationCustom02" class="form-label">Nama Kartu Keluarga</label>
                                              <input type="text" class="form-control" id="validationCustom02" name="nama_kk" value="{{dt.nama_kk}}" required>
                                            </div>
                                            <div class="col-mb-3">
                                              <label for="validationCustomUsername" class="form-label">Kepala Keluarga</label>
                                              <div class="input-group has-validation">
                                                <input type="text" class="form-control" id="validationCustomUsername" name="kepala_keluarga" value="{{dt.kepala_keluarga}}" aria-describedby="inputGroupPrepend" required>
                                              </div>
                                            </div>
                                    <!-- </div> -->
                                    <div class="modal-footer">
                                        <input type="hidden" value="{{dt.no_kk}}" id="eKK">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Ubah</button>
                                    </div>
                                    </form>
                                    </div>
                                </div>
                                </div>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
  </main>

  {% block tail %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#tbVaksin").onsubmit = async (e) => {
                e.preventDefault();
                const req = new XMLHttpRequest();
                req.onload = () => {
                    const data = JSON.parse(req.responseText);
                    if(data.success) {
                        alert("Data berhasil ditambahkan!")
                        location.reload();
                    } else {
                        alert("Ada masalah");
                    }
                }
                const form = document.querySelector("#tbVaksin");
                const datanya = new FormData(form);
                await req.open("POST", "/tambah_vaksin", true);
                req.send(datanya);
            }
        });

        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#editKK").onsubmit = async (e) => {
                e.preventDefault();
                const req = new XMLHttpRequest();
                req.onload = () => {
                    const data = JSON.parse(req.responseText);
                    if(data.success) {
                        alert("Data berhasil diubah!")
                        location.reload();
                    } else {
                        alert("Ada masalah");
                    }
                }
                const form = document.querySelector("#editKK");
                const datanya = new FormData(form);
                const nilai = document.querySelector("#eKK").value;
                await req.open("POST", `/edit_kk/${nilai}`, true);
                req.send(datanya);
            }
        });
    </script>
  {% endblock %}
  {% endblock %}