{% extends 'index.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  {% if session.role == "Umat" %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4>Selamat Datang, {{session.nama}}!</h4>
  </div>
   
    <div class="profilcard">
      <h5>Profil</h5>
      <!-- <a href="" class="nav-item btn btn-primary editprofil"><span>Edit Profil</span></a>  btn btn-sm btn-primary  -->
      <button class="nav-item btn btn-primary editprofil" data-bs-toggle="modal" data-bs-target="#exampleModal1{{session.id}}" data-bs-whatever="@mdo"><b>Edit Profil</b></button>
                            <div class="modal fade" id="exampleModal1{{session.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit Profil</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="row g-3 needs-validation" action="/edit_user/{{session.id}}" id="editProfil" method="POST">
                                          <!-- <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Username:</label>
                                            <input type="text" class="form-control" name="username" id="recipient-name" value="{{session.username}}">
                                        </div> -->
                                        <input type="hidden" name="username" value="{{session.username}}">
                                        <!-- <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Password:</label>
                                            <input type="password" class="form-control" name="password" id="recipient-name">
                                        </div> -->
                                        <input type="hidden" name="password" value="{{session.password}}">
                                        <input type="hidden" name="role" value="Umat">
                                        <div class="col-mb-3">
                                            <label for="validationCustom02" class="form-label">Nama</label>
                                            <input type="text" class="form-control" id="validationCustom02" name="nama" value="{{session.nama}}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="message-text" class="col-form-label">Alamat</label>
                                              <textarea class="form-control" id="message-text" name="alamat">{{session.alamat}}</textarea>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Telepon</label>
                                              <input type="text" class="form-control" id="validationCustom02" name="telepon" value="{{session.telepon}}" required>
                                          </div>
                                          <div class="row">
                                          <div class="col-md-6">
                                              <label for="validationCustom04" class="form-label">Wilayah</label>
                                              <select class="form-select" id="validationCustom04" name="wilayah" required>
                                                <option value="{{session.wilayah}}">{{session.wilayah}}</option>
                                                <!-- <option value="Wilayah 1">Wilayah 1</option>
                                                <option value="Wilayah 2">Wilayah 2</option> -->
                                              </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                              <label for="validationCustom04" class="form-label">Lingkungan</label>
                                              <select class="form-select" id="validationCustom04" name="lingkungan" required>
                                                <option value="{{session.lingkungan}}">{{session.lingkungan}}</option>
                                                <!-- <option value="Lingkungan 1">Lingkungan 1</option>
                                                <option value="Lingkungan 2">Lingkungan 2</option> -->
                                              </select>
                                            </div>
                                        </div>
                                            <div class="mb-3">
                                              <label for="validationCustom04" class="form-label">Jenis Kelamin</label>
                                              <select class="form-select" id="validationCustom04" name="jeniskelamin" required>
                                                <option value="{{session.jeniskelamin}}">{{session.jeniskelamin}}</option>
                                                <!-- <option value="Laki-laki">Laki-laki</option>
                                                <option value="Perempuan">Perempuan</option> -->
                                              </select>
                                            </div>
                                            <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Hubungan dengan Kepala Keluarga</label>
                                              <input type="text" class="form-control" id="validationCustom02" value="{{session.hub}}" name="hub" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Tempat Lahir</label>
                                              <input type="text" class="form-control" id="validationCustom02" name="tempat_lahir" value="{{session.tempat_lahir}}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Tanggal Lahir</label>
                                              <input type="date" class="form-control" id="validationCustom02" name="tgl_lahir" value="{{session.tgl_lahir}}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Tempat Baptis</label>
                                              <input type="text" class="form-control" id="validationCustom02" name="tempat_baptis" value="{{session.tempat_baptis}}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Tanggal Baptis</label>
                                              <input type="date" class="form-control" id="validationCustom02" name="tgl_baptis" value="{{session.tgl_baptis}}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Tempat Komuni Pertama</label>
                                              <input type="text" class="form-control" id="validationCustom02" name="tempat_kopertama" value="{{session.tempat_kopertama}}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Gereja Komuni Pertama</label>
                                              <input type="text" class="form-control" id="validationCustom02" name="gereja_kopertama" value="{{session.gereja_kopertama}}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Tanggal Komuni Pertama</label>
                                              <input type="date" class="form-control" id="validationCustom02" name="tgl_kopertama" value="{{session.tgl_kopertama}}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Tempat Penguatan</label>
                                              <input type="text" class="form-control" id="validationCustom02" name="tempat_penguatan" value="{{session.tempat_penguatan}}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Gereja Penguatan</label>
                                              <input type="text" class="form-control" id="validationCustom02" name="gereja_penguatan" value="{{session.gereja_penguatan}}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Tanggal Penguatan</label>
                                              <input type="date" class="form-control" id="validationCustom02" name="tgl_penguatan" value="{{session.tgl_penguatan}}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Tempat Menikah</label>
                                              <input type="text" class="form-control" id="validationCustom02" name="tempat_menikah" value="{{session.tempat_menikah}}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Gereja Menikah</label>
                                              <input type="text" class="form-control" id="validationCustom02" name="gereja_menikah" value="{{session.gereja_menikah}}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Tanggal Menikah</label>
                                              <input type="date" class="form-control" id="validationCustom02" name="tgl_menikah" value="{{session.tgl_menikah}}" readonly>
                                          </div>
                                          <div class="mb-3">
                                              <label for="validationCustom02" class="form-label">Pekerjaan</label>
                                              <input type="text" class="form-control" id="validationCustom02" name="pekerjaan" value="{{session.pekerjaan}}" required>
                                          </div>
                                          <div class="col-md-4">
                                            <label for="validationCustom04" class="form-label">No Kartu Keluarga</label>
                                            <select class="form-select" id="validationCustom04" name="no_kk" required>
                                              <option value="{{session.no_kk}}">{{session.no_kk}}</option>
                                            </select>
                                          </div>
                                    <!-- </div> -->
                                    <div class="modal-footer">
                                        <input type="hidden" value="{{session.id}}" id="eProfil">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Ubah</button>
                                    </div>
                                    </form>
                                    </div>
                                </div>
                                </div>
      </div>
    <p class="pprofil"><img src="https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/UVVcQkIIebV.png?_nc_eui2=AeFOWnIQlqIZqlZBgeOaYUShAjmVqBrVrxMCOZWoGtWvE7X3vTRhk9TaAbiZyheYJQhzP8tpFA6vAnJvr9XJ3heo" style="float:left; margin-right:20px;" alt="Alamat" class="phprofil">Alamat di <span>{{session.alamat}}</span>
    </p>
    <p class="pprofil">
      <img src="static/image/telepon.png" style="float:left; margin-right:20px;" alt="Telepon" class="phprofil">Nomor <span>{{session.telepon}}</span>
    </p>
    <p class="pprofil">
      <img src="static/image/wilayah.png" style="float:left ; margin-right:20px" alt="Wilayah" class="phprofil">Wilayah <span>{{session.wilayah}}</span> Lingkungan <span>{{session.lingkungan}}</span>
    </p>
    <p class="pprofil">
      <img src="static/image/jeniskelamin.png" style="float:left ; margin-right:20px; width: 35px; margin-left: -8px;" alt="JenisKelamin" class="phprofil"><span style="margin-left:-8px ;">{{session.jeniskelamin}}</span>
    </p>
    </div>
    <br>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h5>Status Pendaftaran</h5>
    </div>
    <div class="card">
      <h5 class="card-header">Pendaftaran Baptis Bayi</h5>
      <div class="card-body">
          <table class="table table-bordered table-sm">
              <thead class="table table-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nama Lengkap</th>
                  <th scope="col">Nama Baptis</th>
                  <th scope="col">Status</th>
                  <th>Jadwal Pelaksanaan</th>
                </tr>
              </thead>
              <tbody>
                
                {% for dt1 in data1 %}
                {% if session.id == dt1.user.id %}
                <tr>
                  <td>-</td>
                  <td>{{dt1.nama}}</td>
                  <td>{{dt1.nama_baptis}}</td>
                  <td>{{dt1.keterengan}}</td>
                  <td>{{dt1.jadwal}}</td>
                  
              
                </tr>
                {% endif %}
              {% endfor %}
              
              </tbody>
            </table>
      </div>
  </div>
  <br><br><br>
  <div class="card">
    <h5 class="card-header">Pendaftaran Baptis Dewasa</h5>
    <div class="card-body">
        <table class="table table-bordered table-sm">
            <thead class="table table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama Lengkap</th>
                <th scope="col">Nama Baptis</th>
                <th scope="col">Status</th>
                <th>Jadwal Pelaksanaan</th>
              </tr>
            </thead>
            <tbody>
              
              {% for dt2 in data2 %}
              {% if session.id == dt2.user.id %}
              <tr>
                <td>-</td>
                <td>{{dt2.nama}}</td>
                <td>{{dt2.nama_baptis}}</td>
                <td>{{dt2.keterangan}}</td>
                <td>{{dt2.jadwal}}</td>
                
            
              </tr>
              {% endif %}
            {% endfor %}
            
            </tbody>
          </table>
    </div>
</div>
<br><br><br>
<div class="card">
  <h5 class="card-header">Pendaftaran Sakramen Perkawinan</h5>
  <div class="card-body">
      <table class="table table-bordered table-sm">
          <thead class="table table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nama Lengkap Pria</th>
              <th scope="col">Nama Lengkap Wanita</th>
              <th scope="col">Status</th>
              <th>Jadwal Pelaksanaan</th>
            </tr>
          </thead>
          <tbody>
            
            {% for dt3 in data3 %}
            {% if session.id == dt3.user.id %}
            <tr>
              <td>-</td>
              <td>{{dt3.nama_lk}}</td>
              <td>{{dt3.nama_pr}}</td>
              <td>{{dt3.keterangan}}</td>
              <td>{{dt3.tgl_nikah}}</td>
              
          
            </tr>
            {% endif %}
          {% endfor %}
          
          </tbody>
        </table>
  </div>
</div>
<br><br><br>
<div class="card">
  <h5 class="card-header">Pendaftaran Misa</h5>
  <div class="card-body">
      <table class="table table-bordered table-sm">
          <thead class="table table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Intensi</th>
              <th scope="col">Tanggal</th>
              <th scope="col">Jam</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            
            {% for dt4 in data4 %}
            {% if session.id == dt4.user.id %}
            <tr>
              <td>-</td>
              <td>{{dt4.intensi}}</td>
              <td>{{dt4.hari_tgl}}</td>
              <td>{{dt4.jam}}</td>
              <td>{{dt4.keterangan}}</td>
              
          
            </tr>
            {% endif %}
          {% endfor %}
          
          </tbody>
        </table>
  </div>
</div>
<br><br><br>
<div class="card">
  <h5 class="card-header">Pendaftaran Komuni Pertama</h5>
  <div class="card-body">
      <table class="table table-bordered table-sm">
          <thead class="table table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nama Lengkap</th>
              <th scope="col">Nama Pemandian</th>
              <th scope="col">Status</th>
              <th>Jadwal Pelaksanaan</th>
            </tr>
          </thead>
          <tbody>
            
            {% for dt5 in data5 %}
            {% if session.id == dt5.user.id %}
            <tr>
              <td>-</td>
              <td>{{dt5.nama}}</td>
              <td>{{dt5.nama_pemandian}}</td>
              <td>{{dt5.keterangan}}</td>
              <td>{{dt5.jadwal}}</td>
              
          
            </tr>
            {% endif %}
          {% endfor %}
          
          </tbody>
        </table>
  </div>
</div>
<br><br><br>
<div class="card">
  <h5 class="card-header">Pendaftaran Pengantar Lingkungan & Wilayah</h5>
  <div class="card-body">
      <table class="table table-bordered table-sm">
          <thead class="table table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nama Lengkap</th>
              <th scope="col">Kepentingan</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            
            {% for dt6 in data6 %}
            {% if session.id == dt6.user.id %}
            <tr>
              <td>-</td>
              <td>{{dt6.nama}}</td>
              <td>{{dt6.keperluan}}</td>
              <td>{{dt6.keterangan}}</td>
              
          
            </tr>
            {% endif %}
          {% endfor %}
          
          </tbody>
        </table>
  </div>
</div>
  </div>
  {% elif session.role == "Admin" %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4>Pendaftaran Yang Belum Dikonfirmasi</h4>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col-lg-4 lg-6">
        <a class="card text-white bg-primary mb-3" style=" max-width: 18rem;" href="/admbaptisbayi">
          <div class="card-body">
            <h5 class="card-title">Baptis Bayi</h5>
            <h6>{{admin1}}</h6>
          </div>
        </a>
      </div>
      <div class="col-lg-4 lg-6">
        <a class="card text-white bg-success mb-3" style=" max-width: 18rem;" href="/admbaptisdewasa">
          <div class="card-body">
            <h5 class="card-title">Baptis Dewasa</h5>
            <h6>{{admin2}}</h6>
          </div>
        </a>
      </div>
      <div class="col-lg-4 lg-6">
        <div class="card text-white bg-danger mb-3" style=" max-width: 18rem;" href="/admperkawinan">
          <div class="card-body">
            <h5 class="card-title">Perkawinan</h5>
            <h6>{{admin3}}</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col-lg-4 lg-6">
        <a class="card text-white bg-secondary mb-3" style=" max-width: 18rem;" href="/admmisa">
          <div class="card-body">
            <h5 class="card-title">Misa</h5>
            <h6>{{admin4}}</h6>
          </div>
        </a>
      </div>
      <div class="col-lg-4 lg-6">
        <a class="card text-white bg-warning mb-3" style=" max-width: 18rem;" href="/admkomunipertama">
          <div class="card-body">
            <h5 class="card-title">Komuni Pertama</h5>
            <h6>{{admin5}}</h6>
          </div>
        </a>
      </div>
      <div class="col-lg-4 lg-6">
        <a class="card text-white bg-info mb-3" style=" max-width: 18rem;" href="/admpengantarlingkungan">
          <div class="card-body">
            <h5 class="card-title">Pengantar Lingkungan</h5>
            <h6>{{admin6}}</h6>
          </div>
        </a>
      </div>
    </div>

  {% endif %}
</main>

{% block tail %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#editProfil").onsubmit = async (e) => {
                e.preventDefault();
                const req = new XMLHttpRequest();
                req.onload = () => {
                    const data = JSON.parse(req.responseText);
                    if(data.success) {
                        alert("Data berhasil diubah!")
                        location.reload();
                    } else {
                        alert("Ada masalah");
                    }
                }
                const form = document.querySelector("#editProfil");
                const datanya = new FormData(form);
                const nilai = document.querySelector("#eProfil").value;
                await req.open("POST", `/edit_user/${nilai}`, true);
                req.send(datanya);
            }
        });
  </script>
{% endblock %}
{% endblock %}