{% extends 'index.html' %}

{% block title %}Log In{% endblock %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="ibadah-container">
    <label for="">Pilih Kursi yang Tersedia :</label>
</div>
    <ul class="showcase">
        <li>
            <div class="kursi"></div>
            <small>Tersedia</small>
        </li>
        <li>
            <div class="kursi dipilih"></div>
            <small>Dipilih</small>
        </li>
        <li>
            <div class="kursi ditempati"></div>
            <small>Ditempati</small>
        </li>
    </ul>
    <div class="container-ibadah">
        <div class="panggung"></div>

        <div class="row-kursi">
            <div class="kursi ditempati"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>

            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
            <div class="kursi"></div>
        </div>

        <div class="row-kursi">
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>

            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
        </div>

        <div class="row-kursi">
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>
            <div class="kursi kiri"></div>

            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
            <div class="kursi kanan"></div>
        </div>

    </div>

</main>

{% endblock %}