{% extends 'index.html' %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2 judulform">FORMULIR PERMOHONAN BAPTIS DEWASA</h1>   
    </div>
    <form action="{{url_for('daftarbaptisdewasa')}}" method="POST">
        <div class="mb-3">
          <label for="namalengkap" class="form-label">Nama Lengkap :</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nama" required>
        <div class="mb-3">
          <label for="namabaptis" class="form-label">Nama Baptis Yang Dipilih :</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="nama_baptis" required>
        </div>
        <div class="row">
        <div class="col-md-6 mb-3">
            <label for="namabaptis" class="form-label">Tempat Lahir :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="tempat_lahir" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="namabaptis" class="form-label">Tanggal Lahir :</label>
            <input type="date" class="form-control" id="exampleInputPassword1" name="tgl_lahir" required>
        </div>
        </div>
        <div class="mb-3">
            <label for="namabaptis" class="form-label">Agama Sebelum Baptis :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="agama" required>
        </div>
        <div class="mb-3">
            <label for="namabaptis" class="form-label">Nama Ayah *) :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="nama_ayah">
        </div>
        <div class="mb-3">
            <label for="namabaptis" class="form-label">Nama Ibu *) :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="nama_ibu">
        </div>
        <div class="mb-3">
            <label for="namabaptis" class="form-label">Menikah Dengan **) :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="pasangan">
        </div>
        <div class="col-md-6 mb-3">
            <label for="namabaptis" class="form-label">Tanggal Menikah :</label>
            <input type="date" class="form-control" id="exampleInputPassword1" name="tgl_menikah" required>
        </div>
        <div class="mb-3">
            <label for="namabaptis" class="form-label">Cara Menikah :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="cara_menikah" required>
        </div>
        <div class="mb-3">
            <label for="namabaptis" class="form-label">Wali Baptis :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="nama_wali" required>
        </div>
        <div class="mb-3">
            <label for="namabaptis" class="form-label">Nomor Registrasi Keluarga :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="no_regiskeluarga" required>
        </div>
        <div class="mb-3">
            <label for="message-text" class="col-form-label">Alamat</label>
            <textarea class="form-control" id="message-text" name="alamat" readonly>{{session.alamat}}</textarea>
        </div>
        <div class="mb-3">
            <label for="namabaptis" class="form-label">Nomor Telepon :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="telepon" value="{{session.telepon}}" readonly>
        </div>
        <input type="hidden" name="user_id" value="{{session.id}}">
        <input type="hidden" name="keterangan" value="Menunggu Konfirmasi">
        <input type="hidden" name="jadwal" value="">
        <p>*) Diisi jika pemohon berstatus sebagai anak</p>
        <p>**) Diisi jika pemohon berstatus menikah</p>
        <button type="submit" class="btn btn-primary">Daftar</button>
      </form>

      <br><br><br>
      <div class="note">
        <h6>Note :</h6>
        <ul>
            <li>Sudah mendapat rekomendasi atau pengantar dari Katekis/Guru Agama.</li>
            <li>Mendapat persetujuan dari orang tua atau saudara yang dituakan.</li>
            <li>Menyertakan surat nikah gereja, sipil, adat, atau KUA.</li>
            <li>Wali baptis harus diisikan dalam permohonan ini(Wali baptis harus Katolik, bukan orang tua sendiri, laki-laki bila pemohon yang dibaptis laki-laki dan perempuan jika pemohon yang dibaptis perempuan).</li>
            <li>Seluruh berkas sudah harus diserahkan kepada sekretariat paroki satu minggu sebelum pelaksanaan penerimaan sakramen baptis. Baptis dewasa biasanya dilaksanakan pada Perayaan Paskah.</li>
        </ul>
      </div>
  </main>


{% endblock %}