{% extends 'index.html' %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2 judulform">FORMULIR SAKRAMEN BAPTIS BAYI</h1>   
    </div>
    <form action="{{url_for('daftarbaptisbayi')}}" method="POST">
        <div class="mb-3">
          <label for="namalengkap" class="form-label">Nama Lengkap :</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nama" required>
        <div class="mb-3">
          <label for="namabaptis" class="form-label">Nama Baptis (Santa/Santo) :</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="nama_baptis" required>
        </div>
        <div class="row">
        <div class="col-md-6 mb-3">
            <label for="namabaptis" class="form-label">Tempat Lahir :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="tempat_lahir" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="namabaptis" class="form-label">Tanggal Lahir :</label>
            <input type="date" class="form-control" id="exampleInputPassword1" name="tgl_lahir" required>
        </div>
        </div>
        <div class="mb-3">
            <label for="namabaptis" class="form-label">Nama Ayah :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="nama_ayah" required>
        </div>
        <div class="mb-3">
            <label for="namabaptis" class="form-label">Nama Ibu :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="nama_ibu" required>
        </div>
        <div class="mb-3">
            <label for="namabaptis" class="form-label">Nama Wali/Saksi Batis :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="nama_wali" required>
        </div>
        <div class="mb-3">
            <label for="namabaptis" class="form-label">Nomor Kartu Keluarga Gereja :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="no_kk" value="{{session.no_kk}}" readonly>
        </div>
        <div class="mb-3">
            <label for="message-text" class="col-form-label">Alamat</label>
            <textarea class="form-control" id="message-text" name="alamat" readonly>{{session.alamat}}</textarea>
        </div>
        <div class="mb-3">
            <label for="namabaptis" class="form-label">Nomor Telepon :</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="telepon" value="{{session.telepon}}" readonly>
        </div>
        <input type="hidden" name="user_id" value="{{session.id}}">
        <input type="hidden" name="keterengan" value="Menunggu Konfirmasi">
        <button type="submit" class="btn btn-primary">Daftar</button>
      </form>
  </main>


{% endblock %}