{% extends 'index.html' %}

{% block title %}Ibadah{% endblock %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"> 

    <div class="container">
        
        <br>
        <div class="card">
            <h5 class="card-header">Pendaftaran Ibadah</h5>
            <div class="card-body">
                <table class="table table-bordered table-sm" id="myTable">
                    <thead class="table table-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Tanggal Ibadah</th>
                        <th scope="col">Jam Ibadah</th>
                        <th scope="col">Kursi</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for dt in data %}
                    {% if dt.ibadah.keterangan == "Dibuka" %}
                      <tr>
                        <th scope="row">-</th>
                        <td>{{dt.user.nama}}</td>
                        <td>{{dt.ibadah.tgl_ibadah}}</td>
                        <td>{{dt.ibadah.jam}}</td>
                        <td>{{dt.kursi}}</td>
                      </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
  </main>
  {% endblock %}